Repository adobe/spectrum-design-data: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, remark, pnpm changeset-lint check-file

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,json,yml,yaml}": ["prettier --write"],
  "**/*.md": ["remark"],
  "!**/pnpm-lock.yaml": [],
  "!**/package-lock.json": [],
  "!**/yarn.lock": [],
  ".changeset/*.md": ["pnpm changeset-lint check-file", "remark"]
}

feat(tooling): add remark with GFM support for markdown formatting
  .lintstagedrc.json
  package.json
  packages/tokens/CHANGELOG.md
  pnpm-lock.yaml
Due: prettier --write, remark

fix(schemas): make gallery variant inherit baseCard properties
  packages/component-schemas/schemas/components/cards.json
  packages/component-schemas/test/cards-inheritance.test.js
Due: prettier --write

feat(component-diff): enhance oneOf change descriptions for release notes
  tools/component-diff-generator/src/lib/component-diff.js
  tools/component-diff-generator/templates/markdown.hbs
Due: prettier --write

chore: added changeset
  .changeset/fix-cards-gallery-inheritance.md
  docs/s2-tokens-viewer/tokens/layout-component.json
  docs/s2-tokens-viewer/tokens/package.json
Due: prettier --write, remark, pnpm changeset-lint check-file

fix(lint-staged): prevent remark from clearing changeset files
  .changeset/fix-cards-gallery-inheritance.md
  .lintstagedrc.js
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, remark, pnpm changeset-lint check-file

fix: updated s2-tokens-viewer tokens ;
  docs/s2-tokens-viewer/tokens/layout-component.json
  docs/s2-tokens-viewer/tokens/package.json
Due: prettier --write

refactor(component-schemas): rename step-list to steplist
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/schemas/components/steplist.json
Due: prettier --write, remark

feat(component-schemas): add $ref resolution in allOf properties
  packages/component-schemas/index.js
  packages/component-schemas/test/cards-inheritance.test.js
  packages/component-schemas/test/ref-resolution.test.js
Due: prettier --write

Simplify cards json
  packages/component-schemas/schemas/components/cards.json
Due: prettier --write

Update cards.json
  packages/component-schemas/schemas/components/cards.json
Due: prettier --write

Added styling and fixed required props
  packages/component-schemas/schemas/components/cards.json
Due: prettier --write

Added title prop and description prop
  packages/component-schemas/schemas/components/cards.json
Due: prettier --write

fix(component-schemas): add changeset for cards schema fix
  .changeset/simplify-cards-schema.md
  .lintstagedrc.json
  package.json
Due: prettier --write, remark, pnpm changeset-lint check-file

fix(component-schemas): add changeset for cards schema fix
  .changeset/simplify-cards-schema.md
  .lintstagedrc.json
Due: prettier --write, remark, pnpm changeset-lint check-file

chore: add changeset for step-list rename
  .changeset/rename-steplist.md
Due: remark, pnpm changeset-lint check-file

fix(lint-staged): prevent remark from clearing markdown files
  .lintstagedrc.js
Due: prettier --write

style(component-schemas): format CHANGELOG with remark
  packages/component-schemas/CHANGELOG.md
Due: remark

fix(changeset): use correct section name for linter
  .changeset/rename-steplist.md
Due: remark, pnpm changeset-lint check-file

refactor(component-schemas): rename step-list to steplist (#621)
  .changeset/rename-steplist.md
  .lintstagedrc.js
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/schemas/components/steplist.json
Due: prettier --write, remark, pnpm changeset-lint check-file

Version Packages (#622)
  .changeset/rename-steplist.md
  packages/component-schemas/CHANGELOG.md
  packages/component-schemas/package.json
  tools/spectrum-design-data-mcp/CHANGELOG.md
  tools/spectrum-design-data-mcp/package.json
Due: prettier --write, remark, pnpm changeset-lint check-file

fix(docs): add s2-tokens-viewer export to deploy-docs workflow
  .github/workflows/deploy-docs.yml
Due: prettier --write

fix(docs): add s2-tokens-viewer export to deploy-docs workflow (#628)
  .github/workflows/deploy-docs.yml
Due: prettier --write

feat(docs): auto-deploy docs after successful releases
  .github/workflows/deploy-docs.yml
Due: prettier --write

feat(docs): auto-deploy docs after successful releases (#629)
  .github/workflows/deploy-docs.yml
Due: prettier --write

feat(site): use workspace version of component-schemas package
  .changeset/docs-site-workspace-component-schemas.md
  docs/site/components/layout.js
  docs/site/lib/components.js
  docs/site/next.config.js
  docs/site/package.json
  docs/site/pages/components/[slug].js
  docs/site/pages/index.js
  pnpm-lock.yaml
Due: prettier --write, remark, pnpm changeset-lint check-file

fix: break long line in changeset description
  .changeset/docs-site-workspace-component-schemas.md
Due: remark, pnpm changeset-lint check-file

feat(site): use workspace version of component-schemas package (#630)
  .changeset/docs-site-workspace-component-schemas.md
  docs/site/components/layout.js
  docs/site/lib/components.js
  docs/site/next.config.js
  docs/site/package.json
  docs/site/pages/components/[slug].js
  docs/site/pages/index.js
  pnpm-lock.yaml
Due: prettier --write, remark, pnpm changeset-lint check-file

refactor(schemas): use relative paths in $ref per JSON Schema best practices
  packages/component-schemas/schemas/component.json
  packages/tokens/schemas/token-types/alias.json
  packages/tokens/schemas/token-types/color-set.json
  packages/tokens/schemas/token-types/color.json
  packages/tokens/schemas/token-types/dimension.json
  packages/tokens/schemas/token-types/drop-shadow.json
  packages/tokens/schemas/token-types/font-family.json
  packages/tokens/schemas/token-types/font-size.json
  packages/tokens/schemas/token-types/font-style.json
  packages/tokens/schemas/token-types/font-weight.json
  packages/tokens/schemas/token-types/gradient-stop.json
  packages/tokens/schemas/token-types/multiplier.json
  packages/tokens/schemas/token-types/opacity.json
  packages/tokens/schemas/token-types/scale-set.json
  packages/tokens/schemas/token-types/system-set.json
  packages/tokens/schemas/token-types/text-align.json
  packages/tokens/schemas/token-types/text-transform.json
  packages/tokens/schemas/token-types/typography.json
Due: prettier --write

fix(tests): update test repository references and snapshots for rename
  pnpm-lock.yaml
  tools/diff-generator/test/fileImportMain.test.js
  tools/diff-generator/test/snapshots/cli.test.js.snap
  tools/diff-generator/test/snapshots/fileImport.test.js.snap
  tools/diff-generator/test/snapshots/formatterHandlebars.test.js.md
  tools/diff-generator/test/snapshots/formatterHandlebars.test.js.snap
Due: prettier --write, remark

chore: update pnpm-lock.yaml after rebase on main
  pnpm-lock.yaml
Due: prettier --write

chore: fix changeset lint and remove OLD_REPO_SETUP.md
  .changeset/repo-rename.md
  OLD_REPO_SETUP.md
Due: remark, pnpm changeset-lint check-file

chore: mark repository rename as breaking change
  .changeset/repo-rename.md
Due: remark, pnpm changeset-lint check-file

fix(site): update Next.js basePath and assetPrefix to spectrum-design-data
  docs/site/next.config.js
Due: prettier --write

fix(docs): update all docs packages for repository rename
  .changeset/gh-pages-site-fix.md
  docs/release-timeline/package.json
  docs/s2-tokens-viewer/package.json
  docs/s2-visualizer/package.json
  docs/site/package.json
  docs/visualizer/package.json
Due: prettier --write, remark, pnpm changeset-lint check-file

fix(docs): update GitHub Pages site configuration for repository rename (#633)
  .changeset/gh-pages-site-fix.md
  docs/release-timeline/package.json
  docs/s2-tokens-viewer/package.json
  docs/s2-visualizer/package.json
  docs/site/package.json
  docs/visualizer/package.json
Due: prettier --write, remark, pnpm changeset-lint check-file

fix(site): update Next.js basePath to spectrum-design-data
  docs/site/next.config.js
Due: prettier --write

fix(site): update Next.js basePath to spectrum-design-data (#634)
  docs/site/next.config.js
Due: prettier --write

feat(diff-generator): auto-collapse details sections with >20 items
  tools/component-diff-generator/src/cli.js
  tools/component-diff-generator/templates/markdown.hbs
  tools/component-diff-generator/test/real-world-integration.test.js
  tools/component-diff-generator/test/template-error-handling.test.js
  tools/diff-generator/src/lib/formatterHandlebars.js
  tools/diff-generator/src/templates/markdown.hbs
Due: prettier --write
